Platforma/build/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Главная</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <link rel="shortcut icon" href="assets/images/fav.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="assets/images/fav.png">
    <link rel="stylesheet" type="text/css" href="assets/styles/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/accordion.min.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/app.css">
  </head>
  <body>
    <header>
      <header class="header header-main-page center"><a href="index.html" class="header__logo-link" alt="logo">
        <svg class="header__logo" width="200" height="50">
          <use xlink:href="./assets/images/sprite.svg#logo_horizont1"></use>
        </svg></a>
<details class="location">
<summary class="location__choice">Санкт-Петербург</summary>
<ul class="location__menu">
<li>#</li>
<li>#</li>
<li>#</li>
<li>#</li>
<li>#</li>
</ul>
</details>
<nav>
<ul class="header__menu">
<li><a href="#" class="header__menu-link">Концепция</a></li>
<li><a href="#" class="header__menu-link">Серии</a></li>
<li><a href="#" class="header__menu-link">Проекты</a></li>
<li><a href="#" class="header__menu-link">Блог</a></li>
<li><a href="#" class="header__menu-link">Контакты</a></li>
</ul>
</nav>
<div class="header__contact">
<p class="contact__number">+7 (812) 336-45-00</p><a href="#" class="contact__link">Обратиться к нам</a>
</div>
      </header></header>
    </header>
    <main>
      <div class="wrapper">
        <section class="slider"><div class="header-slider">
<!-- Slider main container -->
<div class="swiper-container swiper1">
<div class="main-title">
<img src="assets/images/main_title.svg" alt="main-title" class="main-title-img">
<p class="title">модульные дома для Вашего комфорта</p>
</div>
<!-- Additional required wrapper -->
<div class="swiper-wrapper">
<!-- Slides -->
<div class="swiper-slide"><img src="assets/images/main_page_slider1.jpg" alt="slider-image"></div>
<div class="swiper-slide"><img src="assets/images/main_page_slider2.jpg" alt="slider-image"></div>
<div class="swiper-slide"><img src="assets/images/main_page_slider3.jpg" alt="slider-image"></div>
<div class="swiper-slide"><img src="assets/images/main_page_slider4.jpg" alt="slider-image"></div>
<div class="swiper-slide"><img src="assets/images/main_page_slider5.jpg" alt="slider-image"></div>
</div>
<!-- If we need pagination -->
<div class="swiper-pagination"></div>
<!-- If we need navigation buttons -->
<div class="swiper-button-prev swiper1-button-prev"></div>
<div class="swiper-button-next swiper1-button-prev"></div>
<!-- If we need scrollbar -->
<div class="swiper-scrollbar"></div>
</div>
</div>   
        </section>
        <section class="our-series center">
          <div class="our-series__heading"><h1>Наши серии</h1>
<p class="section__text">PLATforma Home– это не просто дома, идеально созданные в заводских условиях по современным технологиям. Это философия жизни в стиле максимального личного комфорта, уюта и благополучия.</p>
<a href="#" class="section__link">Смотреть все</a>
          </div>
          <div class="our-series__slider"><div class="swiper-container swiper2">
<div class="swiper-wrapper">
<div class="swiper-slide"><img src="assets/images/series_slider_img1.jpg" alt="slider-image"></div>
<div class="swiper-slide"><img src="assets/images/series_slider_img2.jpg" alt="slider-image"></div>
<div class="swiper-slide"><img src="assets/images/series_slider_img3.jpg" alt="slider-image"></div>
<div class="swiper-slide"><img src="assets/images/series_slider_img1.jpg" alt="slider-image"></div>
<div class="swiper-slide"><img src="assets/images/series_slider_img2.jpg" alt="slider-image"></div>
<div class="swiper-slide"><img src="assets/images/series_slider_img3.jpg" alt="slider-image"></div>
<div class="swiper-slide"><img src="assets/images/series_slider_img1.jpg" alt="slider-image"></div>
<div class="swiper-slide"><img src="assets/images/series_slider_img2.jpg" alt="slider-image"></div>
<div class="swiper-slide"><img src="assets/images/series_slider_img3.jpg" alt="slider-image"></div>
</div>
<div class="swiper-pagination swiper-pagination-bottom">
</div>
</div>
          </div>
          <div class="our-series__videobox"><video src="video.ogv" controls></video>   </div>
        </section>
        <section class="individual-design center"><div class="individual-design__box">
<div class="individual-design__item">
<div class="swiper-container swiper3">
<div class="swiper-wrapper">
<div class="swiper-slide"><img src="assets/images/individual_design_img.jpg" alt="slider-image"></div>
<div class="swiper-slide"><img src="assets/images/individual_design_img.jpg" alt="slider-image"></div>
<div class="swiper-slide"><img src="assets/images/individual_design_img.jpg" alt="slider-image"></div>
<div class="swiper-slide"><img src="assets/images/individual_design_img.jpg" alt="slider-image"></div>
</div>
<div class="swiper-pagination swiper-pagination-left"></div>
</div>
</div>
<div class="individual-design__item">
<h2 class="individual-design__heading">Индивидуальное проектирование</h2>
<p class="individual-design__text">На выбор подходящий размер и конфигурация дома для разных земельных участков и разного состава семьи (молодая пара, семья с маленьким ребенком, дом для большой семьи). Мы сможем установить дом практически где угодно — на участке перед вашим домом, в лесной зоне, на берегу реки.  Доставку осуществляет наша компания.
</p>
</div>   
</div>
<div class="individual-design__text-box">
          <svg width="62" height="49">
            <use xlink:href="./assets/images/sprite.svg#quotes1">                    </use>
          </svg><p class="text-block">PLATforma Home — это современные модульные дома повышенной комфортности, готовые к круглогодичному проживанию. </p>
</div>
        </section>
        <section class="our-production center">
          <div class="our-production__top"><h2 class="our-production__heading">Наше производство</h2>
            <p class="our-production__text">PLATforma входит в холдинг «ПНСК». Производство расположено в Санкт‑Петербурге, завод общей площадью более 12 га. Основные критерии выбора «ПНСК» - это опыт, профессионализм и безупречная репутация.</p>
          </div>
          <div class="our-production__bottom"><div class="our-production__text-block">
<div class="our-production__item">
<p>12<span>гектаров</span></p>
<p>Площадь собственного завода</p>
</div>
<div class="our-production__item">
<p>50+</p>
<p>Зданий построенно за год</p>
</div>
<div class="our-production__item">
<p>300+</p>
<p>Сотрудников компании</p>
</div>
<div class="our-production__item">
<p>30<span>лет</span></p>
<p>опыта в производстве модульных домов</p>
</div>        
</div>
          </div>
        </section>
        <section class="exclusive-design center"><div class="exclusive-design__left">
<h2 class="exclusive-design__heading">Эксклюзивный дизайн от RHIZOME</h2>
<p class="exclusive-design__text">Архитектурное бюро из Петербурга, основанное в 2011 году. На сегодняшний день Rhizome – это команда из 12 архитекторов, ведущих работу над проектами разного масштаба: архитектура, благоустройство территорий, общественные интерьеры.</p>
<div class="awards-block">
<div class="awards-content">
          <svg width="45" height="45">
            <use xlink:href="./assets/images/sprite.svg#olive-branches-award-symbol"></use>
          </svg><p>Собака.ру «Петербург будущего 2020», Архитектурное бюро года</p>
          <svg width="45" height="45">
            <use xlink:href="./assets/images/sprite.svg#olive-branches-award-symbol"></use>
          </svg><p>АрхиWood 2019, Павильон Гостиная в Приозерске</p>
</div>
<div class="awards-content">
          <svg width="45" height="45">
            <use xlink:href="./assets/images/sprite.svg#olive-branches-award-symbol"></use>
          </svg><p>Собака.ру «Петербург будущего 2019», Дизайн отеля, Точка на Карте. Приозерск</p><a class="about-rhizome-link" href="#">Подробнее о RHIZHOME</a></div>
</div>
</div>
<div class="exclusive-design__right">
<div class="swiper-container swiper4">
<div class="swiper-wrapper">
<!-- Slides -->
<div class="swiper-slide"><img src="assets/images/exclusive-design_slider_img1.jpg" alt="slider-image"></div>
<div class="swiper-slide"><img src="assets/images/exclusive-design_slider_img1.jpg" alt="slider-image"></div>
<div class="swiper-slide"><img src="assets/images/exclusive-design_slider_img1.jpg" alt="slider-image"></div>
<div class="swiper-slide"><img src="assets/images/exclusive-design_slider_img1.jpg" alt="slider-image"></div>
<div class="swiper-slide"><img src="assets/images/exclusive-design_slider_img1.jpg" alt="slider-image"></div>
</div>
<!-- If we need navigation buttons -->
<div class="swiper-button-prev swiper4-button-prev"></div>
<div class="swiper-button-next swiper4-button-prev"></div>   
</div>
</div>
        </section>
        <section class="cost center">
          <div class="cost__content">
            <h3 class="cost__title">Узнать стоимость дома по своему проекту</h3>
            <form class="cost__form" action="#"><div class="cost__input-box">
<input type="name" class="cost__input">
<input type="tel" class="cost__input">
</div>
<div class="cost__input-box">
              <textarea class="message">        </textarea></div>
              <div class="attachment">
                <svg width="20" height="18">
                  <use xlink:href="./assets/images/sprite.svg#clip">  Прикрепить файл</use>
                </svg>
              </div>
              <div class="agreement">
                <p class="agreement-text">Нажимая на кнопку, я подтверждаю, что согласен на обработку моих персональных данных, а также с Пользовательским соглашением</p>
                <button class="cost__form-button" type="submit">Отправить</button>
              </div>
            </form>
          </div>
        </section>
        <section class="banks center">           
          <div class="banks__content">
            <div class="banks__text-block">
              <h3 class="banks__title">Наш банк партнер </h3>
            </div>
            <div class="banks__logo"> 
              <p class="cost__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </section>
        <section class="manufacture center">
          <div class="manufacture__slider">
            <div class="swiper-container swiper5">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="assets/images/manufacture_slider_img1.png" alt="slider-image"></div>
                <div class="swiper-slide"><img src="assets/images/manufacture_slider_img1.png" alt="slider-image"></div>
                <div class="swiper-slide"><img src="assets/images/manufacture_slider_img1.png" alt="slider-image"></div>
                <div class="swiper-slide"><img src="assets/images/manufacture_slider_img1.png" alt="slider-image"></div>
              </div>
              <div class="swiper-pagination swiper-pagination-left2">                </div>
            </div>
          </div>
          <div class="manufacture__text">
            <h3 class="manufacture__title">Производство</h3>
            <p class="manufacture__text">На выбор подходящий размер и конфигурация дома для разных земельных участков и разного состава семьи (молодая пара, семья с маленьким ребенком, дом для большой семьи). Мы сможем установить дом практически где угодно — на участке перед вашим домом, в лесной зоне, на берегу реки.  Доставку осуществляет наша компания. На выбор подходящий размер и конфигурация дома для разных земельных участков и разного состава семьи (молодая пара, семья с маленьким ребенком, дом для большой семьи). Мы сможем установить дом практически где угодно — на участке перед вашим домом, в лесной зоне, на берегу реки.  Доставку осуществляет наша компания.</p>
          </div>
        </section>
        <section class="faq">
          <h3 class="faq__title">faq</h3>
          <div class="faq__accordion-block"></div>
        </section>
      </div>
    </main>
    <footer></footer>
    <script src="assets/scripts/imask.min.js"></script>
    <script src="assets/scripts/accordion.min.js"></script>
    <script src="assets/scripts/swiper-bundle.min.js"></script>
    <script src="assets/scripts/medium-zoom.min.js"></script>
    <script src="assets/scripts/focus-visible.min.js"></script>
    <script src="assets/scripts/main.js"></script>
  </body>
</html>

Platforma/src/templates/pages/index.pug
extends ../template

block variables
    - var title = 'Главная'
    - var contactForm = true

block content
    main
        .wrapper
            section.slider
                <div class="header-slider">
                    <!-- Slider main container -->
                    <div class="swiper-container swiper1">
                        <div class="main-title">
                            <img src="assets/images/main_title.svg" alt="main-title" class="main-title-img">
                            <p class="title">модульные дома для Вашего комфорта</p>
                        </div>
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide"><img src="assets/images/main_page_slider1.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/main_page_slider2.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/main_page_slider3.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/main_page_slider4.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/main_page_slider5.jpg" alt="slider-image"></div>
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev swiper1-button-prev"></div>
                        <div class="swiper-button-next swiper1-button-prev"></div>

                        <!-- If we need scrollbar -->
                        <div class="swiper-scrollbar"></div>
                    </div>
                </div>   
            section.our-series.center
                .our-series__heading
                    <h1>Наши серии</h1>
                    <p class="section__text">PLATforma Home– это не просто дома, идеально созданные в заводских условиях по современным технологиям. Это философия жизни в стиле максимального личного комфорта, уюта и благополучия.</p>
                    <a href="#" class="section__link">Смотреть все</a>
                .our-series__slider
                    <div class="swiper-container swiper2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="assets/images/series_slider_img1.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/series_slider_img2.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/series_slider_img3.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/series_slider_img1.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/series_slider_img2.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/series_slider_img3.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/series_slider_img1.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/series_slider_img2.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/series_slider_img3.jpg" alt="slider-image"></div>
                        </div>
                        <div class="swiper-pagination swiper-pagination-bottom">
                        </div>
                    </div>
                .our-series__videobox
                    <video src="video.ogv" controls></video>   
            section.individual-design.center
                <div class="individual-design__box">
                    <div class="individual-design__item">
                        <div class="swiper-container swiper3">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="assets/images/individual_design_img.jpg" alt="slider-image"></div>
                                <div class="swiper-slide"><img src="assets/images/individual_design_img.jpg" alt="slider-image"></div>
                                <div class="swiper-slide"><img src="assets/images/individual_design_img.jpg" alt="slider-image"></div>
                                <div class="swiper-slide"><img src="assets/images/individual_design_img.jpg" alt="slider-image"></div>
                            </div>
                            <div class="swiper-pagination swiper-pagination-left"></div>
                        </div>
                    </div>
                    <div class="individual-design__item">
                        <h2 class="individual-design__heading">Индивидуальное проектирование</h2>
                        <p class="individual-design__text">На выбор подходящий размер и конфигурация дома для разных земельных участков и разного состава семьи (молодая пара, семья с маленьким ребенком, дом для большой семьи). Мы сможем установить дом практически где угодно — на участке перед вашим домом, в лесной зоне, на берегу реки.  Доставку осуществляет наша компания.
                        </p>
                    </div>   
                </div>
                <div class="individual-design__text-box">
                    svg(width="62" height="49")
                        use(xlink:href="./assets/images/sprite.svg#quotes1")                     
                    <p class="text-block">PLATforma Home — это современные модульные дома повышенной комфортности, готовые к круглогодичному проживанию. </p>
                </div>
            section.our-production.center
                .our-production__top
                    <h2 class="our-production__heading">Наше производство</h2>
                    p.our-production__text PLATforma входит в холдинг «ПНСК». Производство расположено в Санкт‑Петербурге, завод общей площадью более 12 га. Основные критерии выбора «ПНСК» - это опыт, профессионализм и безупречная репутация.
                .our-production__bottom
                    <div class="our-production__text-block">
                        <div class="our-production__item">
                            <p>12<span>гектаров</span></p>
                            <p>Площадь собственного завода</p>
                        </div>
                        <div class="our-production__item">
                            <p>50+</p>
                            <p>Зданий построенно за год</p>
                        </div>
                        <div class="our-production__item">
                            <p>300+</p>
                            <p>Сотрудников компании</p>
                        </div>
                        <div class="our-production__item">
                            <p>30<span>лет</span></p>
                            <p>опыта в производстве модульных домов</p>
                        </div>        
                    </div>
            section.exclusive-design.center
                <div class="exclusive-design__left">
                    <h2 class="exclusive-design__heading">Эксклюзивный дизайн от RHIZOME</h2>
                    <p class="exclusive-design__text">Архитектурное бюро из Петербурга, основанное в 2011 году. На сегодняшний день Rhizome – это команда из 12 архитекторов, ведущих работу над проектами разного масштаба: архитектура, благоустройство территорий, общественные интерьеры.</p>
                    <div class="awards-block">
                        <div class="awards-content">
                            svg(width="45" height="45")
                                use(xlink:href="./assets/images/sprite.svg#olive-branches-award-symbol")
                            <p>Собака.ру «Петербург будущего 2020», Архитектурное бюро года</p>
                            svg(width="45" height="45")
                                use(xlink:href="./assets/images/sprite.svg#olive-branches-award-symbol")
                            <p>АрхиWood 2019, Павильон Гостиная в Приозерске</p>
                        </div>
                        <div class="awards-content">
                            svg(width="45" height="45")
                                use(xlink:href="./assets/images/sprite.svg#olive-branches-award-symbol")
                            <p>Собака.ру «Петербург будущего 2019», Дизайн отеля, Точка на Карте. Приозерск</p>
                            a.about-rhizome-link(href='#') Подробнее о RHIZHOME
                        </div>
                    </div>
                </div>
                <div class="exclusive-design__right">
                    <div class="swiper-container swiper4">
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide"><img src="assets/images/exclusive-design_slider_img1.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/exclusive-design_slider_img1.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/exclusive-design_slider_img1.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/exclusive-design_slider_img1.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/exclusive-design_slider_img1.jpg" alt="slider-image"></div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev swiper4-button-prev"></div>
                        <div class="swiper-button-next swiper4-button-prev"></div>   
                    </div>
                </div>
            section.cost.center
                .cost__content
                    h3.cost__title Узнать стоимость дома по своему проекту
                    form.cost__form(action="#")
                        <div class="cost__input-box">
                            <input type="name" class="cost__input">
                            <input type="tel" class="cost__input">
                        </div>
                        <div class="cost__input-box">
                            textarea.message         
                        </div>
                        .attachment
                            svg(width="20" height="18")
                                use(xlink:href="./assets/images/sprite.svg#clip")   Прикрепить файл
                        .agreement
                            p.agreement-text Нажимая на кнопку, я подтверждаю, что согласен на обработку моих персональных данных, а также с Пользовательским соглашением
                            button.cost__form-button(type='submit') Отправить
            section.banks.center            
                    .banks__content
                        .banks__text-block
                            h3.banks__title Наш банк партнер 
                        .banks__logo 
                            p.cost__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            section.manufacture.center
                .manufacture__slider
                    .swiper-container.swiper5
                        .swiper-wrapper
                            .swiper-slide
                                img(src="assets/images/manufacture_slider_img1.png" alt="slider-image")
                            .swiper-slide
                                img(src="assets/images/manufacture_slider_img1.png" alt="slider-image")
                            .swiper-slide
                                img(src="assets/images/manufacture_slider_img1.png" alt="slider-image")
                            .swiper-slide
                                img(src="assets/images/manufacture_slider_img1.png" alt="slider-image")
                        .swiper-pagination.swiper-pagination-left2                 
                .manufacture__text
                    h3.manufacture__title Производство
                    p.manufacture__text На выбор подходящий размер и конфигурация дома для разных земельных участков и разного состава семьи (молодая пара, семья с маленьким ребенком, дом для большой семьи). Мы сможем установить дом практически где угодно — на участке перед вашим домом, в лесной зоне, на берегу реки.  Доставку осуществляет наша компания. На выбор подходящий размер и конфигурация дома для разных земельных участков и разного состава семьи (молодая пара, семья с маленьким ребенком, дом для большой семьи). Мы сможем установить дом практически где угодно — на участке перед вашим домом, в лесной зоне, на берегу реки.  Доставку осуществляет наша компания.
            section.faq
                h3.faq__title faq
                .faq__accordion-block
                               
